    <div class="wrap-table100">
        <div class="table">
            <div class="row header">
                <div class="cell text-center">
                    Nom du partenaire
                </div>
                <div class="cell text-center">
                    Ville
                </div>
                <div class="cell text-center">
                    Status
                </div>
                <div class="cell text-center">
                    Editer
                </div>
            </div>
            {% for partenaire in partenaires %}
                <div class="row">
                    <div class="cell text-center" data-title="Nom partenaire">
                        {{ partenaire.partenaireName }}
                    </div>
                    <div class="cell text-center" data-title="Ville">
                        {{ partenaire.city }}
                    </div>
                    <div class="cell text-center" data-title="Status">
                        {{ partenaire.status ? 'actif' : 'inactif' }}
                    </div>
                    <div class="cell text-center" data-title="Editer">
                        <button type="button" class="btn btn-primary"><a class="btn-more" href={{ path('partenaire.show', {id: partenaire.id}) }}>Voir</a></button>
                    </div>
                </div>
            {% endfor %}

            {# On crée des variables personnalisées #}
            {% set queryParams = app.request.query.all %}
            {% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}

            <ul class="pagination">

                {% set pages = (total / limit)|round(0, 'ceil') %}
                {% for item in 1..pages %}
                <nav aria-label="Page navigation example">
                    <li class="{{ (page == item) ? 'active' : '' }} page item" style="padding: 0">
                        <a class="page-link" href="?page={{ item }}&{{queryString}}">{{ item }}</a>
                    </li>
                </nav>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>