{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
{% endblock %}
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <div class="media-body">
                {% if app.user %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <h4 class="m-0">Admin</h4>
                    {% endif %}
                    {% if 'ROLE_PARTENAIRE' in app.user.roles %}
                        <h4 class="m-0">Gestion partenaire</h4>
                    {% endif %}
                    {% if 'ROLE_STRUCTURE' in app.user.roles %}
                        <h4 class="m-0">Gestion Structure</h4>
                    {% endif %}
                {% endif %}
                <p class="font-weight-light text-muted mb-0">Fitness Zone</p>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Bienvenue</p>

    <ul class="nav flex-column bg-white mb-0">
        {% if app.user %}
        <li class="nav-item">
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('main') }}" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Accueil
            </a>
            {% endif %}
        </li>
            {% if 'ROLE_ADMIN' in app.user.roles %}
        <li class="nav-item">
            <a href="{{ path('partenaire.registry') }}" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Ajouter partenaires
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('structure.registry') }}" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Ajouter structures
            </a>
        </li>
                {% endif %}
            <li class="nav-item">
            <a href="{{ path('logout') }}" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Me déconnecter
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
</div>


{% block javascripts %}
    <script src="{{ asset('assets/js/nav.js') }}"></script>
{% endblock %}