{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/partenaire.css') }}">
{% endblock %}

{% block title %}{{ structures.structureName }}{% endblock %}

{% block body %}
        {% include '_partials/_nav.html.twig' %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 mb-4 w-25 m-auto">
                <p class="text-center">{{ message }}</p>
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger mt-4 mb-4 w-25 m-auto">
                <p class="text-center">{{ message }}</p>
            </div>
        {% endfor %}
        <h1>{{ structures.structureName }}</h1>
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ vich_uploader_asset(structures, 'imageFile') }}" alt="Image-Structure" class="rounded-circle" width="200">
                                <div class="mt-3">
                                    <h4>{{ structures.structureName }}</h4>
                                    <p class="text-muted font-size-sm">{{ structures.city }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            {% if app.user %}
                                {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Active</h6>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="switch-structure" {{  structures.status == true ? "checked" }} disabled>
                                            <button style="margin-left: 210px" class="btn btn-info button-modal" data-bs-target="#exampleModal" data-bs-toggle="modal" data-url="{{ path('permuted_structure', {id: structures.id}) }}">changer</button>
                                            <label class="form-check-label" for="switch-structure"></label>
                                        </div>
                            </li>
                                    {% endif %}
                                {% if 'ROLE_PARTENAIRE' in app.user.roles %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Active</h6>
                                        <div class="form-check form-switch">
                                            {% if structures.status == true %}
                                                <input class="form-check-input" type="checkbox"  disabled checked>
                                                <label class="form-check-label"></label>
                                            {% else %}
                                                <input class="form-check-input" type="checkbox" disabled>
                                                <label class="form-check-label"></label>
                                            {% endif %}
                                        </div>
                            </li>
                                    {% endif %}
                                {% if 'ROLE_STRUCTURE' in app.user.roles %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Active</h6>
                                        <div class="form-check form-switch">
                                            {% if structures.status == true %}
                                                <input class="form-check-input" type="checkbox" disabled checked>
                                                <label class="form-check-label"></label>
                                            {% else %}
                                                <input class="form-check-input" type="checkbox" disabled>
                                                <label class="form-check-label"></label>
                                            {% endif %}
                                        </div>

                            </li>
                                    {% endif %}
                            {% endif %}
                            {% if app.user %}
                                {% if 'ROLE_STRUCTURE' in app.user.roles %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <h6 class="mb-0" style="padding-right: 60%">Changer mot de passe</h6>
                                        <div class="col-sm-12">
                                            <a class="btn btn-info" href="{{ path('structure.edit.password', {id: structures.id}) }}">Editer</a>
                                        </div>
                                    </li>
                                    {% endif %}
                            {% endif %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <h6 class="mb-0" style="padding-right: 60%">Editer structure</h6>
                                <div class="col-sm-12">
                                    <a class="btn btn-info" href="{{ path('structure.edit', {id: structures.id}) }}">Editer</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Nom de la strucutre</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ structures.structureName }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ structures.email }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Téléphone</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ structures.phone }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Adresse</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ structures.address }} - {{ structures.zipcode }} - {{ structures.city }}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>


                        <div class="mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="text-center">Permission</h6>

                                    {% for permission in permissions %}

                                        {% if app.user %}
                                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6>{{ permission.name }}</h6>
                                                        <div class="form-check form-switch">
                                                                <input class="form-check-input" type="checkbox" id="switch-structure-permission"  {{ structures.permissions.contains(permission) == true ? "checked" }} disabled>
                                                                <button class="btn btn-info button-modal" data-bs-target="#exampleModal" data-bs-toggle="modal" data-url="{{ path('permuted_permission_structure', {structure: structures.id, permission: permission.permID}) }}">changer</button>
                                                                <label class="form-check-label" for="switch-structure-permission"></label>
                                                        </div>
                                                </li>
                                                <div class=" mb-3" style="height: 5px">
                                                    <div class="bg-primary" style="width: 80%"></div>
                                                </div>

                                        {% endif %}

                                            {% if 'ROLE_PARTENAIRE' in app.user.roles %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6>{{ permission.name }}</h6>
                                                        <div class="form-check form-switch">
                                                                <input class="form-check-input" type="checkbox" {{ structures.permissions.contains(permission) == true ? "checked" }} disabled>
                                                                <label class="form-check-label"></label>
                                                        </div>
                                                </li>
                                                <div class=" mb-3" style="height: 5px">
                                                    <div class="bg-primary" style="width: 80%"></div>
                                                </div>

                                            {% endif %}

                                            {% if 'ROLE_STRUCTURE' in app.user.roles %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6>{{ permission.name }}</h6>
                                                        <div class="form-check form-switch">
                                                                <input class="form-check-input" type="checkbox" {{ structures.permissions.contains(permission) == true ? "checked" }} disabled>
                                                                <label class="form-check-label"></label>
                                                        </div>
                                                </li>
                                                <div class=" mb-3" style="height: 5px">
                                                    <div class="bg-primary" style="width: 80%"></div>
                                                </div>

                                            {% endif %}
                                            {% endif %}
                                    {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

        {% include "_partials/_modal.html.twig" with {"body": "Confirmer la modification", "title" : "Modification"} %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/modal.js') }}"></script>
            {% endblock %}
{% endblock %}
